@charset "UTF-8";

body {
    background: linear-gradient(to right, rgba(84, 111, 133, 0.89), #3a4164);
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

h1.photogram {
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: #ffffff;
    text-shadow:
            rgba(0, 0, 0, 0.6) 2px 4px 6px,
            rgba(255, 255, 255, 0.3) -1px -1px 1px;
    margin-top: 50px;
    margin-bottom: 50px;
    letter-spacing: 2px;
    transition: transform 0.3s ease-in-out;
    cursor: default;
}

.photogram {
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    color: cornflowerblue;
    text-shadow: #252325 1px 1px 2px, #faf9f9 -2px -2px 15px, #1e1c1c 2px 2px 1px;
}

.navbar {
    background: linear-gradient(to left, #9898b6, rgba(105, 177, 217, 0.89));
    opacity: 0.95;
    font-family: "Tahoma", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 10px;
}

.dropdown-menu {
    border-radius: 10px;
    background: linear-gradient(to left, lavenderblush, lavender);
    margin-bottom: 5px;
}

.navbar-toggler {
    border-radius: 20px;
}

.nav-link:hover {
    color: olive;
}

.navbar, .dropdown-menu {
    z-index: 1050;
}