@charset "UTF-8";

h1#title:hover {
    transform: scale(1.05);
}

p {
    color: black;
    font-size: medium;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
    display: block;
    margin: 50px auto;
}
